.bgHome {
  background: rgb(24, 18, 39);
  background: linear-gradient(
    90deg,
    rgba(24, 18, 39, 1) 8%,
    rgba(41, 31, 68, 1) 50%,
    rgba(34, 26, 56, 1) 100%
  );
  display: flex;
}
.navBarContainer {
  position: sticky;
  top: 0;
  z-index: 11111;
}

.catalogContainer {
  padding: 20px;
  padding-left: 40px;
  width: 90%;
}
.catalogTitle h2 {
  color: rgb(224, 224, 224);
  margin-top: 0;
}

.cardContainer {
  padding: 20px;
  display: flex;
  flex-direction: row;
  width: 90%;
  gap: 25px;
}
.cards {
  border-radius: 0;
  cursor: pointer;
  box-shadow: none !important;
  overflow: unset !important;
  background: transparent !important;
}
.cards:hover {
  border: 2px solid white;
}
.cards:not(:hover) {
  border-bottom: none !important;
}

.cardContainer .MovietitleContainer {
  height: 40px;
  display: flex;
  align-items: center;
  box-shadow: none !important;
}
.movieTitle {
  width: 100%;
  text-align: center;
  font-size: 18px !important;
  color: rgb(224, 224, 224);
  margin-bottom: 0 !important;
}
.drawer {
  background-color: #181227 !important;
}
.drawer > div {
  background-color: #181227 !important;
}
.asideIcons {
  color: white !important;
}
.link {
  text-decoration: none;
}
.sliderContainer {
  min-height: 0;
  min-width: 0;
  padding: 20px;
}
.slick-dots {
  display: none !important;
}
.slick-slider {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
