.slick-dots {
  display: none !important;
}
div.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  top: 65px !important;
}
.ytp-youtube-button .ytp-button .yt-uix-sessionlink {
  display: none !important;
}
